html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    animation: fadein 3s;
    

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    position: fixed;
    grid-gap: 20px;
    right: 10px;
    left: 10px;
    top: 20px;
    width: auto;
    z-index: 1000;
}

a.buttonLeft {
    margin-left: 10px;
}

a.button {
    background-color: rgba(226, 226, 226, 0.384);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .5s;
    
}

a.button:hover {
    background-color: rgba(230, 228, 228, 0.637);
    transform: scale(1.04);
    transition: .04s;
    box-shadow: 0 0 15px rgba(71, 71, 71, 0.096);
    
}

a.buttonRight {
    margin-right: 10px;
}

.header p {
margin: 10px;
text-align: center;
line-height: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;

}

a {
text-decoration: none;
color: white;

}

.content {
    display: grid;
    size: 100%;
    overflow: hidden;
    position: relative;
    grid-template-rows: 100vh;
       
}

img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: relative;



    }

    .hero::before
    {
        content: "";
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: rgba(129, 129, 129, 0.329);
        z-index: -700;
       
    }
    
.hero {
    width: 100vw;
    position: relative;
    
}
/*animation for video zoom on page load*/
@keyframes videozoom {
from{transform: scale(1.5);}
50%{transform: scale(1.09);}
to{transform: scale(1.1);}
}

.hero video {
    filter: blur(10px);
    margin: 0 auto;
    object-fit: cover;
    height: 100vh;   
    width: 100%;
    position: fixed;
    z-index: -1000;
    animation: videozoom 3s both; 
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: red;
    bottom: 0px;
    position: absolute;
    width: 100%;
    justify-items: center;
}

.hero a {
    background-image: url(./media/arrow.svg);
    background-color: blue;
    height: 300px;
    width: auto;
    
    left: auto;
    right: auto;
    background-size: cover;
    background-position: center;
    top: 80vh;
    
}

@keyframes in {
    0%{transform: scale(0.7);}
50%{transform: scale(1.07);}
    100%{transform: scale(1.0);}
}
@keyframes hover {
    0% {
		transform: translate(0%,0%);	
	}
	25% {
		transform: translate(5%,15%);	
	}	
	50% {
		transform: translate(10%,5%);	
	}	
	75% {
		transform: translate(0%,15%);	
	}	
	100% {
		transform: translate(0%,0%);
	}		
    
}

.hero h1 {
position: fixed;
color: rgba(255, 255, 255, 0.801);
top: 32vh;
width: 100%;
text-align: center;
background-clip: text;
font-size: 72px;
text-shadow: 0 0 20px rgb(255, 255, 255);
font-family: 'Montserrat', sans-serif;
z-index: -100;
animation: in 3s forwards ease-in-out;
}

@keyframes colors {
    0%{color: rgb(0, 255, 255); text-shadow: 0 0 15px rgb(0, 255, 255);}
    10%{color: rgb(255, 0, 128); text-shadow: 0 0 15px rgb(255, 0, 128);}
    20%{color: darkorange;text-shadow: 0 0 15px darkorange;}
    30%{color: magenta;text-shadow: 0 0 15px magenta;}
    40%{color: turquoise;text-shadow: 0 0 15px turquoise;}
    50%{color: rgb(0, 0, 0); text-shadow: 0 0 0 black;} 
    60%{color: rgb(255, 251, 0);text-shadow: 0 0 15px rgb(255, 251, 0);}
    70%{color: rgb(128, 0, 0);text-shadow: 0 0 15px rgb(128, 0, 0);}
    80%{color: red;text-shadow: 0 0 15px red;} 
    90%{color: lawngreen;text-shadow: 0 0 15px lawngreen;}
    100%{color: rgb(0, 255, 255);text-shadow: 0 0 15px rgb(0, 255, 255);}
}

.hero h1::after {
    content: "IT";
    animation: colors 23s both linear infinite;
}


@keyframes hop {
    0%{transform: translate(0, 0)}
    /*20%{transform: translate(0, 200px)}
    80%{transform: translate(0, -32px)}*/
   100%{transform: translate(0, -50px)}
}


.contentLow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    box-shadow: 0 -20px 50px rgb(0, 0, 0);
    background-color: black;
    
}

.middleContent {
    background-color: white;
    margin: 0px;
    height: 100%;
    position: relative;   
    padding: 10vh 0;
    min-height: 300px;
}

.middleContent h1, .middleContent p, .middleContent a{
    margin: 0px 10%;
  
}

@keyframes bluefade{
    0%{background-color: rgb(191, 241, 253);}
    33%{background-color: rgb(110, 189, 253);}
    66%{background-color: rgb(184, 207, 255);}
    100%{background-color: rgb(191, 241, 253);}
}

#middleContent1 {
    background-color: #1E1E1E;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 -8px 40px rgba(34, 34, 34, 0.829);
}

#middleContent1 a{
    color: #ff0059;
    font-weight: bold;
}

.cell1 {
    height: 400px;
    background-image: url(https://s0.2mdn.net/8278829/09022019-080059961-mayansmc_s02_streamnow_programmatic_300x600_v1.jpg);
    background-position: center;
    position: relative;
    z-index: 30;
}

.cell2 {
    height: 400px;
    background-image: url(https://www.medicalnewstoday.com/content//images/articles/322/322868/golden-retriever-puppy.jpg);
    background-position: center;
    background-size: cover;  
    position: relative;
    z-index: 30;
}

.cell3 {
    height: 400px;
    background-image: url(https://i.ytimg.com/vi/7NYaGOyJiCY/maxresdefault.jpg);
    background-position: center;
    background-size: cover;    
    position: relative;
    z-index: 30;
}

.cell4 {
    height: 400px;
    background-image: url(https://s0.2mdn.net/8278829/09022019-080059961-mayansmc_s02_streamnow_programmatic_300x600_v1.jpg);
    background-position: center;
    position: relative;
    z-index: 30;
}

