html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    animation: fadein 6s;
    

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    position: fixed;
    grid-gap: 10px;
    right: 10px;
    left: 10px;
    top: 20px;
    width: auto;
    z-index: 1000;
}

a.buttonLeft {
    margin-left: 10px;
}

a.button {
    background-color: rgba(226, 226, 226, 0.384);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    border: none;
    outline: none;
}

a.buttonRight {
    margin-right: 10px;
}

.header p {
/*margin: 0;*/
text-align: center;
line-height: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;

}

a {
text-decoration: none;
color: white;

}

.content {
    display: grid;
    size: 100%;
    overflow: hidden;
    position: relative;
    grid-template-rows: 100vh;
       
}

img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: relative;



    }

    .hero::before
    {
        content: "";
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: rgba(129, 129, 129, 0.329);
        z-index: -700;
       
    }
    
.hero {
    width: 100vw;
    position: relative;
    
}

.hero video {
    filter: blur(10px);
    margin: 0 auto;
    object-fit: cover;
    height: 100vh;   
    width: 100%;
    position: fixed;
    z-index: -1000;

    
}

@keyframes in {
    0%{transform: scale(0.7);}
40%{transform: scale(1.2);}
    100%{transform: scale(1.1);}
}
@keyframes hover {
    0% {
		transform: translate(0%,0%);	
	}
	25% {
		transform: translate(5%,15%);	
	}	
	50% {
		transform: translate(10%,5%);	
	}	
	75% {
		transform: translate(0%,15%);	
	}	
	100% {
		transform: translate(0%,0%);
	}		
    
}

.hero h1 {
position: fixed;
color: rgba(255, 255, 255, 0.801);
top: 32vh;
width: 100%;
text-align: center;
background-clip: text;
font-size: 72px;
text-shadow: 0 0 20px rgb(255, 255, 255);
font-family: 'Montserrat', sans-serif;
z-index: -100;
animation: in 4s forwards;
}

@keyframes colors {
    0%{color: rgb(0, 255, 255); text-shadow: 0 0 15px rgb(0, 255, 255);}
    10%{color: rgb(255, 0, 128); text-shadow: 0 0 15px rgb(255, 0, 128);}
    20%{color: magenta;text-shadow: 0 0 15px magenta;}
    30%{color: rgb(5, 80, 165);text-shadow: 0 0 15px rgb(5, 80, 165);}
    40%{color: turquoise;text-shadow: 0 0 15px turquoise;}
    50%{color: rgb(0, 0, 0); text-shadow: 0 0 15px rgb(0, 0, 0);}
    60%{color: rgb(255, 251, 0);text-shadow: 0 0 15px rgb(255, 251, 0);}
    70%{color: rgb(128, 0, 0);text-shadow: 0 0 15px rgb(128, 0, 0);}
    80%{color: red;text-shadow: 0 0 15px red;} 
    90%{color: lawngreen;text-shadow: 0 0 15px lawngreen;}
    100%{color: rgb(0, 255, 255);text-shadow: 0 0 15px rgb(0, 255, 255);}
}

.hero h1::after {
    content: "IT";
    animation: colors 15s both linear infinite;
}


@keyframes hop {
    0%{transform: translate(0, 0)}
    /*20%{transform: translate(0, 200px)}
    80%{transform: translate(0, -32px)}*/
   100%{transform: translate(0, -50px)}
}


.contentLow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    box-shadow: 0 -20px 50px rgb(0, 0, 0);
    background-color: black;
}

.middleContent {
    display: grid;
    box-shadow: 0 -20px 50px rgb(0, 0, 0);
    background-color: white;
    color: black;
}

.cell1 {
    height: 400px;
    background-image: url(https://s0.2mdn.net/8278829/09022019-080059961-mayansmc_s02_streamnow_programmatic_300x600_v1.jpg);
    background-position: center;
    position: relative;
    z-index: 30;
}

.cell2 {
    height: 400px;
    background-image: url(https://www.medicalnewstoday.com/content//images/articles/322/322868/golden-retriever-puppy.jpg);
    background-position: center;
    background-size: cover;  
    position: relative;
    z-index: 30;
}

.cell3 {
    height: 400px;
    background-image: url(https://i.ytimg.com/vi/7NYaGOyJiCY/maxresdefault.jpg);
    background-position: center;
    background-size: cover;    
    position: relative;
    z-index: 30;
}

.cell4 {
    height: 400px;
    background-image: url(https://s0.2mdn.net/8278829/09022019-080059961-mayansmc_s02_streamnow_programmatic_300x600_v1.jpg);
    background-position: center;
    position: relative;
    z-index: 30;
}

